/** {
    border: 1px solid black;   
}*/

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}   

h1, p {
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: hsl(217, 19%, 87%);
}

h1 {
    padding-top: 20px;
    font-size: 3.5rem;
}

p {
    font-size: 1.5rem;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 5%;
    position: absolute;
    top: 78%;
    left: 20%;
}

h2 {
    text-align: center;
    position: relative;
    top: 26%;
    font-family: "Barlow Semi Condensed", sans-serif;
    font-size: 2rem;
    color: hsl(54, 78%, 49%);
}

.buttons button {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#rock {
    border: 9px solid green;
}

#paper {
    border: 9px solid red;
}

#scissors {
    border: 9px solid rgb(0, 81, 255);
}

.text-box {
    text-align: center;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: hsl(217, 19%, 87%);
}

#round-result {
   margin: 20px auto;
   height: 2rem;
   width: 50%;
   font-size: 2rem;
   position: relative;
   top: 10%;
}

#player {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: hsl(217, 19%, 87%);
    font-size: 2rem;
    position: absolute;
    top: 42%;
    left: 20%;
    text-align: center;
}

#cpu {
    font-family: "Barlow Semi Condensed", sans-serif;
    color: hsl(217, 19%, 87%);
    font-size: 2rem; 
    position: absolute;
    top: 42%;
    right: 20%;
    text-align: center;
}

.output {
    border: 9px solid black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: white;
}

.score {
    width: max-content;
    height: max-content;
    margin-right: auto;
    margin-left: auto;
    font-size: 2rem;
    font-family: "Barlow Semi Condensed", sans-serif;
    color: hsl(217, 19%, 87%);
    text-align: center;
    position: relative;
    top: 17%;
}

.score::after {
    content: "-";
    font-size: 4.2rem;
    display: block;
}

#player-score, #cpu-score {
    width: 15%;
    height: 15%;
    font-size: 4.2rem;
    
}
#player-score {
    position: absolute;
    top: 51%;
    left: 35%;
}

#cpu-score {
    position: absolute;
    top: 51%;
    right: 35%;
}

#game-winner {
    font-size: 1.8rem;
    color: hsl(229, 25%, 31%);
}

#reset {
    font-size: 1.2rem;
    border-radius: 5px;  
    color:hsl(214, 47%, 23%);
    background-color: whitesmoke;   
}

#reset:hover {
    color: rgb(255, 38, 0);
}

.modal {
    border-radius: 5px;
    width: 25%;
    height: 12%;
    overflow: hidden;
    background-color: hsl(217, 19%, 87%);
}

.modal-content {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 27px;
}

/*
@media (max-width:1366px) {
    .modal {
        width: 25%;
    }
    
    #reset {
        width: 50%;
        font-size: 1.5rem;
    }
}

@media (max-width:768px) {
    .modal {
        width: 40%;
    }
    
    #reset {
        width: 35%;
    }
}


@media (max-width:375px) {
    .modal {
        width: 50%;
    }
    
    #reset {
        width: 70%;
    }
}