* {
    border: 1px solid black;
    
}

body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    
    /**background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    **/
}   

h1, p {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 5%;
    margin-top: 10vh;
}

.buttons button{
    width: 20%;
    font-size: 1.5rem;
    border-radius: 5px;
}

.text-box {
    text-align: center;
}

#round-result {
   margin: 20px auto;
   height: 2rem;
   width: 50%;
   font-size: 2rem;
}

#player-score, #cpu-score {
    width: 15%;
    height: 15%;
    font-size: 4.2rem;
    
}
#player-score {
    float: left;
    margin-left: 5%;
}

#cpu-score {
    float: right;
    margin-right: 5%;
}

#player-score::before {
    content: " Your score:";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#cpu-score::before {
    content: " CPU score:";
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
}

#game-winner {
    font-size: 1.5rem;
}

#reset {
    width: 40%;
    font-size: 1.2rem;
    border-radius: 5px;     
}

.modal {
    border-radius: 5px;
    width: 40%;
    overflow: hidden;
}

.modal-content {
    width: 100%;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}
